

{% extends 'base.html' %}

{% block 'content' %}

{% load static %}



	<!-- Page top Section end -->  
	<section class="page-top-section set-bg" data-setbg=" {% static 'website/img/page-top-bg.jpg' %}">
		<div class="page-top-warp">
			<form class="main-search-form">
				<div class="search-type">
					<div class="st-item">
						<input type="radio" name="st" id="buy" checked>
						<label for="buy">Buy</label>
					</div>
					<div class="st-item">
						<input type="radio" name="st" id="rent">
						<label for="rent">Rent</label>
					</div>
					<div class="st-item">
						<input type="radio" name="st" id="sell">
						<label for="sell">Sell</label>
					</div>
					<div class="st-item">
						<input type="radio" name="st" id="property">
						<label for="property">Property Value</label>
					</div>
					<div class="st-item">
						<input type="radio" name="st" id="agents">
						<label for="agents">Agents</label>
					</div>                                                           
				</div>
				<div class="search-input si-v-2">
					<input type="text" placeholder="Search by state, postcode or suburb">
					<button class="site-btn" type="submit">Search</button>
					<button class="site-btn sb-light">Show Filters</button>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
			</form>
		</div>
	</section>
	<!-- Page top Section end -->

	<!-- Search Result Section end -->
	<section class="search-result-section ">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-6 p-0">
					<div class="search-result-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-xl-6 p-0">
					<div class="search-results">
						<ul class="filter-btn">
							<li class="active">Newest</li>
							<li>Price Low </li>
							<li>Price High</li>
						</ul>
						<div class="row">
							<div class="col-md-6">
								<div class="property-item"> 
									<div class="pi-image">
										<img src="{% static 'website/img/property-search/1.jpg' %}" alt="">
										<div class="pi-badge new">New</div>
									</div>
									<h3>$469,000</h3>
									<h5>3 Bedrooms Townhouse</h5>
									<div class="pi-metas">
										<div class="pi-meta">3 Bed </div>
										<div class="pi-meta">2 Baths</div>
										<div class="pi-meta">1 Garage</div>
										<div class="pi-meta">2849 SF</div>
									</div>
									<a href="#" class="readmore-btn">Find out more</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="property-item"> 
									<div class="pi-image">
										<img src="{% static 'website/img/property-search/2.jpg' %}" alt="">
										<div class="pi-badge offer">Offer</div>
									</div>
									<h3>$469,000</h3>
									<h5>3 Bedrooms Townhouse</h5>
									<div class="pi-metas">
										<div class="pi-meta">3 Bed </div>
										<div class="pi-meta">2 Baths</div>
										<div class="pi-meta">1 Garage</div>
										<div class="pi-meta">2849 SF</div>
									</div>
									<a href="#" class="readmore-btn">Find out more</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="property-item"> 
									<div class="pi-image">
										<img src="{% static 'website/img/property-search/3.jpg' %}" alt="">
										<div class="pi-badge new">New</div>
									</div>
									<h3>$469,000</h3>
									<h5>3 Bedrooms Townhouse</h5>
									<div class="pi-metas">
										<div class="pi-meta">3 Bed </div>
										<div class="pi-meta">2 Baths</div>
										<div class="pi-meta">1 Garage</div>
										<div class="pi-meta">2849 SF</div>
									</div>
									<a href="#" class="readmore-btn">Find out more</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="property-item"> 
									<div class="pi-image">
										<img src="{% static 'website/img/property-search/4.jpg' %}" alt="">
										<div class="pi-badge offer">Offer</div>
									</div>
									<h3>$469,000</h3>
									<h5>3 Bedrooms Townhouse</h5>
									<div class="pi-metas">
										<div class="pi-meta">3 Bed </div>
										<div class="pi-meta">2 Baths</div>
										<div class="pi-meta">1 Garage</div>
										<div class="pi-meta">2849 SF</div>
									</div>
									<a href="#" class="readmore-btn">Find out more</a>
								</div>
							</div>
						</div>
						<button class="site-btn sb-big load-more">load More</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Search Result Section end -->

{% endblock %}